<div id="signup_block">
  <h2>New User?&nbsp;Sign Up</h2>
  <div style="text-align: left;line-height: 2.8em;">
    <%=form_for :signup do |log|%>
        <table style="padding: 10px;">
          <tr>
            <td>User Name</td>    <td><%=log.text_field :username%></td>
          </tr>
          <tr>
            <td>Password:</td>    <td><%=log.password_field :password%></td>
          </tr>
          <tr>
            <td>Email:</td>    <td><%=log.text_field :email%></td>
          </tr>
          <tr>
            <td> Gender:</td>    <td>&nbsp;<%=log.select :gender,["Male","Female"],:prompt=>"select any gender"%></td>
          </tr>
          <%=log.hidden_field :role,:value=>@role_id%>
          <%=log.hidden_field :status,:value=>@status_id%>
          <tr>
            <td>Date of Birth:</td>    <td> <%=log.date_select :date_of_birth, :start_year => 1980%></td>
          </tr>
          <tr>
            <td colspan="2"> <%=log.submit "signUp",:class=>"button1"%></td>
          </tr>
        </table>


    <%end%>
  </div>


</div>

